@font-face {
  font-family: "albra black";
  src: url("./assets/Albra-Font-Family/Albra Black.otf");
}

@font-face {
  font-family: "albra bold";
  src: url("./assets/Albra-Font-Family/Albra Bold.otf");
}

@font-face {
  font-family: "albra light";
  src: url("./assets/Albra-Font-Family/Albra Light.otf");
}

@font-face {
  font-family: "albra medium";
  src: url("./assets/Albra-Font-Family/Albra Medium.otf");
}

@font-face {
  font-family: "albra regular";
  src: url("./assets/Albra-Font-Family/Albra Regular.otf");
}

@font-face {
  font-family: "albra semi";
  src: url("./assets/Albra-Font-Family/Albra Semi.otf");
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cream-light: #f7f4f0;
  --cream-v2: #f0ebe6;
  --black: #282828;
  --primary: #DEC1A0;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
  color: var(--black);
}

body {
  font-weight: 400;
  overflow-x: hidden;
}


/*============================= RESPONSIVE DESIGN =============================*/

@media only screen and (max-width: 1100px) {
  html {
    font-size: 55%;
  }
}

