.slider {
    position: absolute;
    top: 72px;
    width: 100vw;
    height: max-content;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.slider > div {
    width: 100vw;
    height: max-content;
}

.slider.active {
    opacity: 1;
    z-index: 11;
}

.slider__content {
    opacity: 0;
    max-width: 37.6rem;
}

.slider__content > h1 {
    white-space: nowrap;
    line-height:62.4333px;
    color: var(--black);
}

.slider__content > p {
    margin-top: 15px;
    font-size: 1.11rem;
    line-height: 20.5167px;
}

.slider__content > button {
    font-size: 1.15rem;
    line-height: 18.9833px;
    padding: 1.179rem 4.22rem;
    color: white;
    width: max-content;
    transition: all .3s ease-in-out;
}

.slider__content > button:hover {
    opacity: .9;
} 

.slider__images > img {
    height: auto;
    opacity: 0;
}

.slider__images > .indicators {
    position: absolute;
    right: 0px;
    bottom: 6%;
    gap: 2rem;
}

.indicators > a {
    width: 3.45rem;
    height: 3.45rem;
    color: white;
    border-radius: 100%;
}

.fadeLeftIn {
    animation: fadeLeftIn 1s forwards .8s ease-in-out;
}

.fadeLeftOut {
    animation: fadeLeftOut .8s forwards ease-in-out;
}


.fadeRightIn {
    animation: fadeRightIn 1s forwards .8s ease-in-out;
}

.fadeRightOut {
    animation: fadeRightOut .8s forwards ease-in-out;
}


@media only screen and (max-width: 1900px) {
    .slider > div {
        padding: 0rem 4.2rem;
    }

}

@media only screen and (max-width: 1200px) {
    .slider .container, .slider__images > img {
        max-width: 100%;
    }

    .slider > div {
        padding: 0rem 5rem;
    }
}

@media only screen and (max-width: 900px) {
    .slider > div {
        padding-top: 4.1rem;
        padding-bottom: 4.1rem;
    }
}


@keyframes fadeRightIn {
    0% {
        transform: translateX(-5%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}


@keyframes fadeRightOut {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        transform: translateX(5%);
        opacity: 0;
    }
}

@keyframes fadeLeftIn {
    0% {
        transform: translateX(5%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}


@keyframes fadeLeftOut {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        transform: translateX(-5%);
        opacity: 0;
    }
}